@import url('https://fonts.cdnfonts.com/css/satoshi');
@import 'tailwindcss';


body {
    font-family: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.rotateY-180 {
    transform: rotateY(180deg);
}

.perspective {
    perspective: 1500px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}